*.pyc
*.tar.gz
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
./__pycache__/
.DS_Store
.egg*
.eggs
.gitignore
.idea
.ipynb_checkpoints
GPT-SoVITS*
MaaS-lib
RapidASR
build
data/*
dist
docs/_build
emotion2vec*
examples/aishell/llm_asr_nar/*
export/*
funasr.egg-info
init_model/
modelscope
modelscope_models
outputs*
runtime/onnxruntime/third_party/json/*
samples
test_local/
